html, body {
  margin: 0;
  padding: 0;
  font-family: "Zilla Slab", sans-serif;
  font-size: 21px;
  background: #feeef6;
}

/* page heder */
header {
  color: #402a54;
  background-color: plum;
  padding: 10px;
}

#pagetitle {
  font-family: "Josefin Slab", serif;
  font-weight: 500;
  font-size: 4em;
}

#pagetitlecredits {
  font-family: "Josefin Slab", serif;
  font-weight: 200;
  font-size: 3em;
}

/* navigation bar: flexbox with page buttons*/
nav {
  display: flex;
  margin: 0;
  background-color: #d86fd8;
  border-left: solid 7px #bb40bb;
}

.navbaritem {
  text-decoration: none;
  font-size: 1.5em;
  color: #feeef6;
  padding: 2px 10px;
  border-right: solid 2px plum;
  transition: all 100ms ease-in-out;
}

.navbaritem:hover {
 background-color: #eb97eb;
 transform: scale(1.1);
}

/* THIS FLEXBOX MARGIN IDEA CAN BE REPLACED WITH JUST MARGINS OR NEEDS TO HAVE SOME LAYOUT TO
   ADD SOMETHING OTHER THAN JUST WHITESPACE */
/* general layout for articles: flexbox of width 3, first and last are empty for page marins */
article {
  display: flex;
  justify-content: center;
  text-align: justify;
}

article::before, article::after {
  content: "";
  width: 5%;
  flex-shrink: 0;
}

/* article separators: flexbox width 3 where first and last are stripe  */
.separator {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;

  font-family: "Josefin Slab", serif;
  color: #991932;
  font-size: 1.3em;
  font-weight: 600;
}

.separator::before, .separator::after {
  content: "";
  height: .125em;
  background: #402a54;
  flex: 1;
  margin: .5em .7em;
}

/* separator if the text inside is an anchor */
.separatorbutton {
  text-decoration: none;
  color: #991932;
  transition: all 300ms ease-in-out;
}

.separatorbutton:hover {
  color: #d04a65;
  transform: scale(1.1);
}