html, body {
  margin: 0;
  padding: 0;
  font-family: "Zilla Slab", sans-serif;
  font-size: 21px;
  background: #feeef6;
}

/* page heder */
header {
  color: #402a54;
  background-color: plum;
  padding: 10px;
}

#pagetitle {
  font-family: "Josefin Slab", serif;
  font-weight: 500;
  font-size: 4em;
}

#pagetitlecredits {
  font-family: "Josefin Slab", serif;
  font-weight: 200;
  font-size: 3em;
}

/* navigation bar: flexbox with page buttons*/
nav {
  display: flex;
  margin: 0;
  background-color: #d86fd8;
  border-left: solid 7px #bb40bb;
}

.boxoffice {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border: 20px;
  border-color: black;
  border-style: solid;
}
.boxoffice tr td, thead th{
  font-style: "Times new roman";
  font-size: 40px;

}

.navbaritem {
  text-decoration: none;
  font-size: 1.5em;
  color: #feeef6;
  padding: 2px 10px;
  border-right: solid 2px plum;
  transition: all 100ms ease-in-out;
}

.navbaritem:hover {
 background-color: #eb97eb;
 transform: scale(1.1);
}

/* THIS FLEXBOX MARGIN IDEA CAN BE REPLACED WITH JUST MARGINS OR NEEDS TO HAVE SOME LAYOUT TO
   ADD SOMETHING OTHER THAN JUST WHITESPACE */
/* general layout for articles: flexbox of width 3, first and last are empty for page marins */
article {
  display: flex;
  justify-content: center;
  text-align: justify;
}

article::before, article::after {
  content: "";
  width: 10%;
  flex-shrink: 0;
}

/* film poster and trailer: flexbox with those 2 items */
#postertrailer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;
}
#poster  { width: 30%; }
#trailer { flex-grow: 1; flex-shrink: 1;}

/* article separators: flexbox width 3 where first and last are stripe  */
.separator {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;

  font-family: "Josefin Slab", serif;
  color: #991932;
  font-size: 1.3em;
  font-weight: 600;
}

.separator::before, .separator::after {
  content: "";
  height: .125em;
  background: #402a54;
  flex: 1;
  margin: .5em .7em;
}

/* separator if the text inside is an anchor */
.separator__button {
  text-decoration: none;
  color: #991932;
  transition: all 300ms ease-in-out;
}

.separator__button:hover {
  color: #d04a65;
  transform: scale(1.1);
}

/* reviews go from edge to edge because of scrolling */
#reviewarticle::after, #reviewarticle::before {
  display: none;
}

.reviewgrid-container {
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
  scrollbar-width: none;     /* hide scrollbar Firefox */
  padding-left: 10%;
  padding-right: 10%;
  gap: 10px;
}

.reviewgrid-container::-webkit-scrollbar {
  display: none; /* hide scrollbar Chrome, Safari and Opera */
}

.starredreview > .reviewer   { grid-area: reviewer; text-align: center;}
.starredreview > .reviewlogo { grid-area: image;    }
.starredreview > .rating     { grid-area: rating;   font-size: 1.5em; padding: 20px 5px}
.starredreview > .stars      { grid-area: stars;    }
.starredreview {
  flex-basis: 250px;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 100px 150px;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas:
    "reviewer reviewer"
    "image rating"
    "stars stars";
}

.textreview > .reviewer   { grid-area: reviewer; text-align: center;}
.textreview > .rating     { grid-area: rating;   text-align: center; font-size: 1.3em;}
.textreview > .reviewlogo { grid-area: image;    padding: 0 75px;}
.textreview {
  flex-basis: 250px;
  flex-shrink: 0;
  display: grid;
  grid-template-areas:
    "reviewer"
    "image"
    "rating";
}

.reviewer {
  font-size: 1.5em;
  color: #402a54;
}

.reviewlogo {
  width: 100px; height: 100px;
  border-radius: 50%;
}

.rating {
  color: #991932;
}


/* rating stars: png matte with gradient background */
.stars {
  --rating: 100%;
  background: linear-gradient(90deg, #991932 Calc(var(--rating) - 1%), 
                                     /* shouldn't this be pink? */
                                     white   Calc(var(--rating) + 3%));
  width: 100%;
}

#imdb           > .stars { --rating: 81%; }
#rottentomatoes > .stars { --rating: 92%; }
#metacritic     > .stars { --rating: 88%; }
#googleaudience > .stars { --rating: 94%; }

/* cast and crew grid:  */
#wesandersonbox  { grid-area: wesanderson  }
#ralphfiennesbox { grid-area: ralphfiennes }
#tonyrevoloribox { grid-area: tonyrevolori }
#adrienbrodybox  { grid-area: adrienbrody  }
#tildaswintonbox { grid-area: tildaswinton }
.castgrid-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 34% 33% 33%;
  grid-template-rows: 150px 150px;
  column-gap: 0px;
  row-gap: 0px;
  grid-template-areas: 
    "wesanderson ralphfiennes adrienbrody"
    "wesanderson tildaswinton tonyrevolori";
  justify-content: space-around;
}

.ccgrid-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ccdescription {
  margin-left: 30px;
  margin-top: 5px;
  font-size: 1.0em;
}

/* individual cast and crew member */
.castcrewcell {
  display: flex;
  align-items: center;
  padding: 5px;
}

.ccimg {
  flex-shrink: 0;
  border: 2px solid #feeef6;
  margin: 5px 10px;
  object-fit: cover;
  width: 100px; height: 100px;
  border-radius: 50%;
}

.cctextbox {
  flex-grow: 1;
}

.ccname {
  font-weight: 500;
  font-size: 1.2em;
  margin: 3px 5px;
}

.ccrole {
  font-weight: 300;
  font-style: italic;
  font-size: 1.2em;
  margin: 2px 5px;
}


#photoscontainer {
  display: flex;
  overflow: auto;
  gap: 10px;
  padding-left: 10%;
  padding-right: 10%;
  -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
  scrollbar-width: none;     /* hide scrollbar Firefox */
}
#photosarticle::before, #photosarticle::after {
  display: none;
}
#photoscontainer::-webkit-scrollbar {
  display: none; /* hide scrollbar Chrome, Safari and Opera */
}

.homepagephoto > img {
  height: 300px;
  border: #402a54 5px solid;
}

/* if width less than 1200, ccgrid becomes a flexbox to accomodate page wrapping */
@media (max-width: 1200px) {
  .castgrid-container {
    display: flex;
    flex-wrap: wrap;
  }

  .castcrewcell {
    flex-basis: 180px;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
}


/* styling for castcrew page*/
.actorphoto{
  margin: 5px 5px;
  width: 200;
  height: 200px;
  display: inline-block;
}

div.actors div {
  border-style: solid;
  border-width: 10px;
  margin: 20px 0px;
  border-color:#bb40bb;
  background-color:#eb97eb;
}

div.actors div p {
  text-align: left;
  display: inline;
  position: absolute;
  padding: 0px 20px 0px 0px;
  font-weight: bold;
  color: #a037a0;
}
@media only screen and (max-width:600px){
  div.actors div p {
    position: static;
    display: block;
  }
}
div.actors div h1 {
  font-family: "Lucida Console";
  letter-spacing: -1px;
  color: #7e2a7e;
}

/* styling for photos page*/
div.gallery div {
  margin: 5px;
  border: 1px solid #e4c7c7;
  float: left;
  width: 400px;
}

div.gallery div img {
  width: 100%;
  height: auto;
}

div.gallery div p {
  padding: 15px;
  text-align: center;
  font-family: arial;
}

/* styling for plot page*/
.plotpage{
  background-image: url("../images/stills/hotelphoto.jpg");
}
.sec {
  background-color: #feeef6;
}
.citation {
  position: fixed;
  background-color: #eb97eb;
  border: 5px;
  border-color: #bb40bb;
  border-style: solid;
  right: 0px;
  bottom: 0px;
}